.box{
    width: 440px;
    height: 250px;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 100ms ease-in;
}

.box > img {
    width: 350px;
}

.box:hover{
    transform: scale(1.12);
}

h5 > span {
    margin-left: 10px;
}
